@{
    ViewData["Title"] = "Home Page";
}

<h2>
	Welcome to RideMatch!
</h2>

<div class="container" style="background-color: whitesmoke; padding: 20px" >
	<div class="row">
	<div  style="float: left">
		<h2>Application uses</h2>
		<ul>
			<li>Sample pages using ASP.NET Core MVC</li>
			<li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
		</ul>
	</div>

		<div  style="float: right; margin-right: 10px">
			<img src="images/Conversation.png"/>
		</div>
	</div>
</div>
<div class="row">
    
   
</div>
