@{
    ViewData["Title"] = "Home Page";
}

<h2>
	Welcome to RideMatch!
</h2>

<div class="container" style="background-color: whitesmoke; padding: 20px" >
	<div class="row">
		<div style="float: left; width: 550px; margin-top: 130px">
			<h2>Scenario</h2>
			<div class="card" style="width: 500px;">
				<img class="card-img-top" src="images/home-scenario.png" alt="Scenario">
				<div class="card-body">
					<p class="card-text">Miguel and Lana both have the same class even though they are from different sections, they ride in Lana's car to save on gas money and also help the environment</p>
				</div>
			</div>
			<p style="size: inherit"> </p>
			<img src="">
		</div>

		<div  style="float: right; margin-right: 10px">
			<img src="images/Conversation.png"/>
		</div>
	</div>
</div>
<div class="row">
    
   
</div>
